h1,
h2,
h3,
h4 {
  font-family: "Helvetica", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  padding: 15px 0;
}

.top-header {
  padding: 10px;
}

.hierarchy {
  min-height: 40px;
  display: block;
  overflow: hidden;
  .v-treeview--dense .v-treeview-node__root {
    min-height: 24px !important;
  }
}

.v-picker .v-card .v-picker--date {
  width: 100%;
}

.custom-header-style th {
  /* Apply your custom styles to all header cells */
  background-color: #c7c7c7; /* Example background color */
  color: #181515; /* Example text color */
  font-weight: bold; /* Example font weight */

  max-height: 400px; /* Set the maximum height here */
  // overflow-y: auto; /* Add vertical scroll if content overflows */
}
